*{
    margin: 0;
}
.st{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #686868;
    padding: 10px;
    .p{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .fl{
        display: flex;
        align-items: center;
        gap: 20px;
        p{
            font-size: 20px;
            font-weight: 700;
        }
        button{
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            background-color: #3BB96D;
            color: white;
        }
    }
}
.st1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    p{
        font-size: 20px;
    }
}
.head{
    background-color: #F1F5F8;
    padding: 40px;
    margin-top: 50px;
    .fl1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1{
            font-size: 45px;
        }
        p{
            width: 500px;
            font-size: 17px;
            line-height: 25px;
            color: #686868;
            margin-top: 20px;
        }
        button{
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            background-color: #3BB96D;
            color: white;
            font-weight: bold;
            margin-top: 20px;
            font-size: 17px;
        }
    }
}
.p1{
    margin-left: 170px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 40px;
    span{
        color: #686868;
        font-weight: normal;
    }
}
.fl2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .n1{
        margin-top: 30px;
        h1{
            font-size: 70px;
            color: #3BB96D;

        }
    }
    .bor{
        box-shadow: 0px 0px 20px#00000026;
        padding: 20px 40px;
        border-radius: 10px;
        position: relative;
        top: -30px;
        background-color: white;
        p{
            margin-top: 10px;
            font-weight: 30px;
            font-size: 17px;

        }
    }
}
.h1{
    margin-left: 200px;
    font-size: 40px;
    margin-top: 50px;
}
.fl3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    .num1{
        box-shadow: 0px 0px 10px #34343424;
        width: 367px;
        height: 162px;
        padding: 20px;
        h3{
            font-size: 22px;
            margin-top: 20px;
        }
        p{
            font-size: 18px;
            margin-top: 15px;
        }
        u{
            color: #3BB96D;
            margin-top: 30px;
            font-size: 18px;
            position: relative;
            top: 30px;
        }
    }
}
u{
    color: #3BB96D;
    font-size: 18px;
}
.fl4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;
    .num2{
        box-shadow: 0px 0px 10px #34343424;
        padding: 20px;
        width: 560px;
        height: 158px;
        h2{
            font-size: 22px;
            margin-top: 10px;
        }
        p{
            font-size: 18px;
            margin-top: 20px;
            font-weight: 30px;
        }
        u{
            position: relative;
            top: 30px;
        }
    }
}
.img{
    width: 1140px;
    margin: auto;
    margin-top: 50px;
}
.txt10{
    padding: 100px;
    margin-left: 100px;
    h1{
        font-size: 45px;
    }
    p{
        font-size: 18px;
        color: #686868;
        margin-top: 10px;
    }
}
.fl5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .num3{
        p{
            font-size: 18px;
            font-weight: 800;
        }
        input{
            padding: 10px 20px;
            width: 250px;
            height: 22px;
            border: none;
            outline: none;
            background-color: #F1F5F8;
            border-radius: 50px;
            margin-top: 10px;
        }
    }
}
.fl6{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    .num3{
        p{
            font-size: 18px;
            font-weight: 800;
        }
    }
}
.dropdown {
    background-color: #f0f4f8;
    border-radius: 20px;
    padding: 10px 20px;
    width: 250px;
    height: 22px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #6b7280;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.dropdown::after {
    content: '▼';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: #a0aec0;
}
.fl7{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    .num4{
        p{
            font-size: 20px;
            font-weight: 800;
        }
        input{
            padding: 10px 20px;
            width: 560px;
            height: 22px;
            border-radius: 50px;
            border: none;
            outline: none;
            background-color: #F1F5F8;
            margin-top: 10px;
        }
    }
}
.p2{
    margin-left: 150px;
    margin-top: 30px;
    p{
        font-size: 18px;
    }
    .p3{
        font-size: 20px;
        margin-top: 10px;
        color: #3BB96D;
        font-weight: 700;
    }
    button{
        padding: 10px 20px;
        background-color: #3BB96D;
        color: white;
        font-size: 17px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        border-radius: 50px; 
    }
    .p4{
        color: #8D979F;
        margin-top: 20px;
    }
}
.last{
    background-color: #3BB96D;
    padding: 40px;
    margin-top: 100px;
    .flex{
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        color: white;
        p{
            margin-top: 15px;
            font-size: 18px;
        }
        h4{
            font-size: 20px;
        }
    }
}